<nav class="bg-black text-white sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <!-- Logo -->
    <a href="/">
      <img src="public/logo.png" alt="Logo" class="h-10" />
    </a>

    <ul class="flex space-x-6  font-semibold">
      <li>
        <a href="#mision" class="relative group">
          <span class="hover:text-green-400 transition">Misión</span>
          <span class="absolute left-0 -bottom-1 w-0 h-[2px] bg-green-400 transition-all group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a href="#servicios" class="relative group">
          <span class="hover:text-green-400 transition">Servicios</span>
          <span class="absolute left-0 -bottom-1 w-0 h-[2px] bg-green-400 transition-all group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a href="#nosotros" class="relative group">
          <span class="hover:text-green-400 transition">Nosotros</span>
          <span class="absolute left-0 -bottom-1 w-0 h-[2px] bg-green-400 transition-all group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a href="#contacto" class="relative group">
          <span class="hover:text-green-400 transition">Contacto</span>
          <span class="absolute left-0 -bottom-1 w-0 h-[2px] bg-green-400 transition-all group-hover:w-full"></span>
        </a>
      </li>
    </ul>

  </div>
</nav>
